/*@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");*/

.porto * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.porto{
  margin:2%;
  margin-bottom:10%;
}

.portfolios-container {
  min-height: 60vh;
  /*font-family: "Poppins", sans-serif;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.porto h2 {
  margin: 0.5rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.portfolio {
  height: 50vh;
  width: 100%;
  margin: 2rem;
  padding: 45px 20px 20px;
  background: #fff;
  box-shadow: 4px solid #e5474b;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.portfolio h4 a{
  text-align:center!important;
  display:inline-block;
  margin-bottom:3%;
}

.portfolio img {
  height: 300px;
  width: auto;
  margin-bottom: 1.5rem;
}

.portfolio p {
  overflow: auto;
  font-style: oblique;
  font-size: 19px;
  font-weight: 400;
}

.porto p span {
  font-size: 17px;
  font-style: normal;
}

.numbertext {
  font-size: 15px;
  opacity: 0.7;
  margin-top: 1.5rem;
}

.thprev,
.thnext {
  display: inline-block;
  background: #fff;
  box-shadow: 0 2px 4px 1px rgba(50, 50, 93, 0.1);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: .5rem;
  margin: .5rem;
  font-size: 2.5rem;
  text-align: center;
  color: #e5474b;
  transition: 0.3s ease;
}

.thprev:hover,
.thnext:hover {
  cursor: pointer;
  transform: translateY(-4px);
}
